div.auth {
    max-width: 500px;
    min-width: 310px;
}
div.registration {
    max-width: 550px;
    min-width: 310px;
}

@media (max-width: 510px) {
    div.auth,
    div.registration {
        width: 90%;
    }
}