body {
    position: relative;
    padding: 0.01px; /* to fix margin collapsing of inner elements */
    min-width: 300px;
    min-height: 100vh;
}
a, a:focus {
   outline: none; /* to fix dotted outline after clicking link (for example - menu element) */
}

div.cover-image {
    position: relative;
    height: 40vh;
    color: white;
    background-image: url(/static/images/wolves.jpg);
    background-size: 110%;
    background-position: -85px 0;
    overflow: hidden;
}

div.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #343A40DD;
}

div.cover > div.content {
    margin: 30px auto;
    width: 70%;
}

footer {
    position: absolute;
    left: 0; right: 0;
    bottom: 0;
}

@media (max-width: 830px) {
    div.cover-image {
        height: 60vh;
        background-size: 400%;
    }
    div.cover > div.content {
        width: 90%;
        margin: 15px auto;
    }
}